.about-par{
     padding: 5px;
     margin-bottom: 5%;
}

.about-photo {
    float: left;
    height: 250px;
    margin-right: 10px;
    padding: 2px;
    width: 350px;
}

.bio { 
    font-size: 20px;
}

.button-break {
  margin-top: 5px; 
}

.cv-wrapper {
    display: flex;  
    margin-bottom: 2%;
    /* overflow: hidden; */
}
.cv-pdf {
    margin: auto;
    height: 800px;
    width: 700px;
}

.email {
    margin-bottom: 15px;
}

.email-input {
    margin-bottom: 5px;
}

/* .footer {
    background: black;
    height: 5px;
} */

.send-button {
    border-radius: 50px;
    background-color:#55ACEE; 
    color : white;
}

.twitter {
    height: 2%;
}
.twitter-timeline {
    width: 100%;
}


.section-break {
    background: #cfd4d4;
    height:1px;
    margin-bottom: 2%;
    margin-left: -100%;
    position:relative;
    overflow:hidden;
    width:201.5%;
    
}

.section-header {
    text-align: center;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { };

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { };

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { };

 /* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { };
