.about-header {
    text-align: center;
}

.about-par{
     padding: 5px;
     margin-bottom: 5%;
}

.about-photo {
    float: left;
    height: 250px;
    margin-right: 10px;
    padding: 2px;
    width: 350px;
}

.bio { 
    font-size: 20px;
}

.section-break {
    width: 100%;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { };

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { };

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { };

 /* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { };
