.about-par{
     padding: 5px;
     margin-bottom: 5%;
}

.about-photo {
    float: left;
    height: 250px;
    margin-right: 10px;
    padding: 2px;
    width: 400px;
}

.bio { 
    font-size: 20px;
}

.button-break {
  margin-top: 5px; 
}

.contact-header {
    color: white;
}

.cv-wrapper {
    display: flex;  
    margin-bottom: 2%;
}
.cv-pdf {
    margin: auto;
    height: 800px;
    width: 80%;
}

.email {
    margin-bottom: 15px;
}

.email-input {
    margin-bottom: 5px;
}

.footer {
    background: black;
    height: 20px;
}

.footer-contact-us {
    color: white;
    font-size: 20px; 
}

.footer-company-name {
    bottom: 10px;
    position: -webkit-sticky;
}

/* start of footer template */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: right;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: left;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
        font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
/* end of footer template */

.nav {
    margin-bottom: 5%;
}

.nav-link {
    color: white;
}

.navbar-brand {
    font-size: 50px;
    color: white;
}

 .nav-item {
    display: inline;
}

.navbar-item:hover {
    color: #8f9296
}

.section-header {
    padding: 10px;
    padding-bottom: 50px;
}

.send-button {
    background-color: #55ACEE;
    border: 1px solid white;
    border-radius: 50px;
    color : white;
    height: 30px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    width: 60px;
    
}

.send-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.section-break {
    background: #cfd4d4;
    height:1px;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: -100%;
    overflow:hidden;
    width:200.5%; 
}

.section-header {
    text-align: center;
}



.twitter-buttons {
    padding: 2px;
    text-align: center;
}

/* .twitter-container {
     border: 5px solid black; 
} */

.twitter-follow-button {
    height: 10px;
}

.twitter-timeline {
    width: 100%;
}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { };

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { };

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { };

 /* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { };
